{% extends 'mainapp/base.html' %}
{% load static %}

{%block titulo %}
    About Me
{%endblock titulo %}


{%block estructura %}
<p>
Hola! Mi nombre es Julio Chirinos y tengo 36 años. Tengo alrededor de 11 años de experencia laburando el rubro de IT.
Con experencia en el area de soporte de usuarios, monitoreo de infraestructura, analista de sistemas y actualmente ejerciendo como Analista Funcional.
</p>
<p>
Asumi el reto de tomar este curso con el proposito de querer salir de la rutina, aprender nuevos lenguajes/tecnologias y de reconectarme con la programacion y el desarrollo de aplicaciones web.
</p>
<p>
Considero que el curso y su dinamica me motivo a querer seguir desarrollando en Python y aprender de las nuevas tecnologias que lo relacionan. Esto con la idea de encarar proyectos personales que pueda plasmar todo los aprendido en el curso y seguirlo fortaliciendo con el tiempo y la practica.
</p>
<p>
Espero puedan apreciar el proyecto al cual le inverti bastante tiempo y dedicacion ademas de estar relacionando con la tematica de musica la cual es una de mis pasiones.
</p>
<p>
Saludos!
</p>

{%endblock estructura %}

{%block fondo %}
{%endblock fondo %}